<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<!--=============================================================================================================== -->
    <!--===========================================   Head  ============================================= -->
	<!-- =============================================================================================================== -->

	<div th:include="Patient/Include::head"></div>

	<!--=============================================================================================================== -->
    <!--===========================================  FIN head  ============================================= -->
	<!-- =============================================================================================================== -->

	<!--=============================================================================================================== -->
    <!--===========================================   Body  ============================================= -->
	<!-- =============================================================================================================== -->
<body>


	<!--=============================================================================================================== -->
    <!--===========================================   Menu Header   ============================================= -->
	<!-- =============================================================================================================== -->

    <div th:include="Patient/Include::header"></div>

	<!--=============================================================================================================== -->
    <!--===========================================  FIN  Menu Header   ============================================= -->
	<!-- =============================================================================================================== -->

	<!--=============================================================================================================== -->
    <!--===========================================   Center   ============================================= -->
	<!-- =============================================================================================================== -->

	<img th:src="@{/img/acceuil.jpg}" class="img-fluid" alt="Responsive image" 
	 style="width:1225px;height: 1000px; margin-top: -20px " />


	<!--=============================================================================================================== -->
    <!--===========================================   contact   ============================================= -->
	<!-- =============================================================================================================== -->


 
  	<!--=============================================================================================================== -->
    <!--===========================================   FIN contact   ============================================= -->
	<!-- =============================================================================================================== -->
	
	<!--=============================================================================================================== -->
    <!--===========================================   footer   ============================================= -->
	<!-- =============================================================================================================== -->

  	<!--=============================================================================================================== -->
    <!--===========================================   FIN footer   ============================================= -->
	<!-- =============================================================================================================== -->

</body>

	<!--=============================================================================================================== -->
    <!--===========================================   FIN Body   ============================================= -->
	<!-- =============================================================================================================== -->

</html>
