<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!--=============================================================================================================== -->
    <!--===========================================   Head  ============================================= -->
  <!-- =============================================================================================================== -->


  <div th:include="Patient/Include::head"></div>

  <!--=============================================================================================================== -->
    <!--===========================================  FIN head  ============================================= -->
  <!-- =============================================================================================================== -->

  <!--=============================================================================================================== -->
    <!--===========================================   Body  ============================================= -->
  <!-- =============================================================================================================== -->

<body>


  <!--=============================================================================================================== -->
    <!--===========================================   Menu Header ============================================= -->
  <!-- =============================================================================================================== -->

  <div th:include="Patient/Include::header">
    
  </div>

  <!--=============================================================================================================== -->
    <!--===========================================  FIN Menu Header ============================================= -->
  <!-- =============================================================================================================== -->


  <!--=============================================================================================================== -->
    <!--=========================================== Center  ============================================= -->
  <!-- =============================================================================================================== -->

  <article>

    <div class="container">


         
        <!--===================================================================== -->
          <!--==================== Formulaire Profie  ============= -->
        <!-- ==================================================================== -->

        <form action="/Patient/EnregistrerProfile" method="post" enctype="multipart/form-data">

          <!--===================================================================== -->
          <!--==================== Image ============= -->
          <!-- ==================================================================== -->
          <div class="form-group">

           <center>
             <img th:src="@{'/img/'+${patient.image}}"  class="rounded float-left" 
               id="label" name="label" style="width: 200px;height: 200px;" /> 
          </center>
          </div>
          <!--===================================================================== -->
          <!--==================== input file   ============= -->
          <!-- ==================================================================== -->
          <div class="form-row col-md-12">
            <div class="form-group">
              <center>
                <input type="file" class="form-control-file" id="image" name="image" 
                onchange="changerImage(this);"  />
              </center>
            </div>
          </div>
          <br/>
          <br/>
          <!--===================================================================== -->
            <!--==================== Cin Nom et prenom  ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="cin">CIN</label>
              <input type="text"   name="cin" pattern="[0-9]*" minlength="8" maxlength="8"
                oninvalid="setCustomValidity('veuillez saisi Cin valide: 8 chiffre ')"
                oninput="setCustomValidity('')" 
                class="form-control"  placeholder="8 chiffre"  readonly="readonly" 
                th:value="${patient.cin}"/>

            </div>
            <div class="form-group col-md-6">
              <label for="nomprenom">Nom Prenom</label> 
              <input type="text"    class="form-control" name="nomprenom" placeholder="Nom Prenom"
               th:value="${patient.nomprenom}"/>
            </div>

          </div>
         

          <!--===================================================================== -->
            <!--==================== username et password   ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="login">Username</label> 
              <input type="text" class="form-control" name="login" placeholder="Username"
              th:value="${patient.login}" />
            </div>

            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input type="password"   class="form-control" name="password" placeholder="Password"
              th:value="${patient.password}" />
            </div>
          </div>

          <!--===================================================================== -->
            <!--==================== Telephone et Domicile   ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="login">Telephone</label> 
              <input type="text" class="form-control" name="telephone" placeholder="Telephone"
                pattern="[0-9]*" minlength="8" maxlength="8"
                oninvalid="setCustomValidity('veuillez saisi telephone valide: 8 chiffre ')"
                oninput="setCustomValidity('')"
                th:value="${patient.telephone}" />
            </div>

            <div class="form-group col-md-6">
              <label for="password">Domicile</label>

              <input type="text"   class="form-control" name="domicile" placeholder="Domicile"
                pattern="[0-9]*" minlength="8" maxlength="8"
                oninvalid="setCustomValidity('veuillez saisi Cin valide: 8 chiffre ')"
                oninput="setCustomValidity('')"

                th:value="${patient.domicile}" />
            </div>
          </div>
          <!--===================================================================== -->
          <!--==================== Email et Adress  ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="login">Email</label> 
              <input type="email" class="form-control" name="email" placeholder="Email"
              th:value="${patient.email}" />
            </div>

            <div class="form-group col-md-6">
              <label for="password">Adresse</label>
              <input type="text"   class="form-control" name="adresse" placeholder="Adresse"
              th:value="${patient.adresse}" />
            </div>

          </div>

          <!--===================================================================== -->
          <!--==================== Medecin et Date Naissance   ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="password">Medecin</label>
              <input type="text"   class="form-control" name="medecin" placeholder="Medecin"
              th:value="${patient.medecin.nomprenom}" readonly="readonly"  />
            </div>

            <div class="form-group col-md-6">
              <label for="date">Date Naisssance</label> 
              <input required="required"   type="date" class="form-control"  th:value="${patient.date}" 
              name="date"/>
            </div>

          </div>
          
          <!--===================================================================== -->
            <!--==================== Button enregistrer  ============= -->
          <!-- ==================================================================== -->

          <div class="form-group col-md-12">

            <button type="submit" class="btn btn-primary mb-2"> 
              <span class="glyphicon glyphicon-ok"></span> 
               Enregistrer 
            </button>

          </div>

        </form>

      <!--===================================================================== -->
      <!--==================== Fin Formulaire   ============= -->
      <!-- ==================================================================== -->
      
    </div>

  </article>

  <!--=============================================================================================================== -->
  <!--===========================================  FIN Center  ============================================= -->
  <!-- =============================================================================================================== -->

  <!--=============================================================================================================== -->
  <!--=========================================== Changer Image   ============================================= -->
  <!-- =============================================================================================================== -->

  <script type="text/javascript">
    
    function changerImage(input)
    {

      $('#label')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);

    }

  </script>

  <!--=============================================================================================================== -->
  <!--===========================================  FIN Changer Image   ============================================= -->
  <!-- =============================================================================================================== -->
</body>

  <!--=============================================================================================================== -->
    <!--===========================================   FIN  body ============================================= -->
  <!-- =============================================================================================================== -->

</html>
