<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!--=============================================================================================================== -->
    <!--===========================================   Head  ============================================= -->
  <!-- =============================================================================================================== -->

  <div th:include="Admin/Include::head"></div>

  <!--=============================================================================================================== -->
    <!--===========================================  FIN head  ============================================= -->
  <!-- =============================================================================================================== -->

  <!--=============================================================================================================== -->
    <!--===========================================   Body  ============================================= -->
  <!-- =============================================================================================================== -->

 
<body th:background="@{/img/ar.jpg}"  >


<!--=============================================================================================================== -->
<!--===========================================   Menu Header ============================================= -->
<!-- =============================================================================================================== -->

<header>
    
    <div id="menu">

        <nav class="navbar navbar-inverse">

        	<div class="container-fluid">           

		          <div class="navbar-header">
                <a class="navbar-brand" href="#" aria-disabled="true">
                  <i class="fa fa-heartbeat" ></i> App EHealth
                </a>
              </div>

    		</div>

        </nav>

    </div>

</header>

<!--=============================================================================================================== -->
<!--===========================================  FIN  Menu Header ============================================= -->
<!-- =============================================================================================================== -->


<!--=============================================================================================================== -->
<!--=========================================== Center ============================================= -->
<!-- =============================================================================================================== -->


<div class="container" style="padding-left: 200px;">
 
	<br/>
	<br/>

  

    <!--===================================================================== -->
    <!--==================== formulaire login ============= -->
    <!-- ==================================================================== -->

    <form class="form-inline" action="/seconneter" method="post">

       <!--===================================================================== -->
       <!--====================  username ============= -->
       <!-- ==================================================================== -->
	   
           <div class="input-group input-group-lg">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
            <input class="form-control" type="text" placeholder="Username" name="login"  th:value="${login}" />
          </div>

	      <!--===================================================================== -->
	      <!--==================== password ============= -->
	      <!-- ==================================================================== -->

          <div class="input-group input-group-lg">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input class="form-control" type="password" placeholder="Password" name="password"  th:value="${password}" />
          </div>

	      <!--===================================================================== -->
	      <!--==================== SeConnecter============= -->
	      <!-- ==================================================================== -->

	    <button type="submit" class="btn btn-primary btn-lg" >
        <span class="glyphicon glyphicon-log-in"></span>
         Connection 
      </button>

    </form>

    <!--===================================================================== -->
    <!--==================== fin  formulaire login ============= -->
    <!-- ==================================================================== -->

</div>

<!--=============================================================================================================== -->
<!--===========================================  FIN  center  ============================================= -->
<!-- =============================================================================================================== -->


    <!--===================================================================== -->
    <!--==================== Message d'erreur si le compte n'existe pas ===== -->
    <!-- ==================================================================== -->

    <div th:if="${compteInvalid}">

        <div th:if="${compteInvalid == true}"> 
        
           <script type="text/javascript">

            alert(' username ou password incorrect ! ');

           </script>

        </div>

    </div>
    <!--===================================================================== -->
    <!--==================== fin Message D'erreur ============= -->
    <!-- ==================================================================== -->

</body>

<!--=============================================================================================================== -->
<!--===========================================  FIN  body  ============================================= -->
<!-- =============================================================================================================== -->
</html>
