<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--=============================================================================================================== -->
<!--===========================================   Head  ============================================= -->
<!-- =============================================================================================================== -->
<link rel="stylesheet" type="text/css" th:href="@{/css/Style_Chat.css}" />

<div th:include="Medecin/Include::head"></div>




<!--=============================================================================================================== -->
<!--===========================================  FIN head  ============================================= -->
<!-- =============================================================================================================== -->

<!--=============================================================================================================== -->
<!--===========================================   body  ============================================= -->
<!-- =============================================================================================================== -->


<body>

	<!--=============================================================================================================== -->
	<!--===========================================   Menu header   ============================================= -->
	<!-- =============================================================================================================== -->

	<div th:include="Medecin/Include::header"></div>

	<!--=============================================================================================================== -->
	<!--===========================================   FIN menu header   ============================================= -->
	<!-- =============================================================================================================== -->


	<!--=============================================================================================================== -->
	<!--===========================================   center  ============================================= -->
	<!-- =============================================================================================================== -->

	<article>

		<!--===================================================================== -->
		<!--==================== Titre discusiion  ============= -->
		<!-- ==================================================================== -->

		<h2>
			<center>Chat Messages</center>
		</h2>

		<!--===================================================================== -->
		<!--==================== Liste des  Mesage   ============= -->
		<!-- ==================================================================== -->

		<div th:each="chat : ${listeChats}">

			<div class="container" style="width: 60%;">

				<!--===================================================================== -->
				<!--==================== Icon supprimer Message  ============ -->
				<!-- ==================================================================== -->

				<a th:href="@{/Medecin/DeleteChat(idChat=${chat.id},cinPatient=${cinPatient})}"
					style="float: right; margin-left: 20px;"
					onclick="return confirm('voulez vous supprimer Cette message  ?');">
					<span class="glyphicon glyphicon-remove"></span>
				</a>


				<!--===================================================================== -->
				<!--==================== NOM prenom   ============ -->
				<!-- ==================================================================== -->

				<div>
					<b><span th:text="${chat.emetteur.nomprenom}"></span></b> <br /> <br />
				</div>

				<!--===================================================================== -->
				<!--==================== Image du publisher   ============ -->
				<!-- ==================================================================== -->

				<div style="float: left;">

					<div style="float: left;">
						<img th:src="@{'/img/'+${chat.emetteur.image}}" class="left"
							style="width: 100%;" />
					</div>

					<!--===================================================================== -->
					<!--====================  contenue    ============ -->
					<!-- ==================================================================== -->

					<div style="float: left;">
						<span th:text="${chat.message}"> </span>
					</div>

					<br />
					<br />
					<br />

					<!--===================================================================== -->
					<!--==================== date  du publication    ============ -->
					<!-- ==================================================================== -->

					<div style="float: left;">
						<span class="time-right" th:text="${chat.date}"
							style="foat: left;"></span>
					</div>

				</div>
			</div>
		</div>

		<!--===================================================================== -->
		<!--====================  FIN Liste des  Mesage   ============= -->
		<!-- ==================================================================== -->

		<!--===================================================================== -->
		<!--==================== zone de texte  et button send   ============= -->
		<!-- ==================================================================== -->

		<div class="container" style="width: 60%;">

			<form action="/Medecin/SaveMessage" method="post">

				<div class="form-group">

					<label for="Message">Message :</label>
					<textarea class="form-control" rows="5" id="Message" name="message"
						style="margin: 0;">
                    </textarea>

				</div>
				
				<input type="hidden" name="cinPatient" th:value="${cinPatient}" />

				<button type="submit" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-send"></span> Send
				</button>

			</form>

		</div>

		<!--===================================================================== -->
		<!--==================== FIN  zone de texte  et button send   ============= -->
		<!-- ==================================================================== -->

	</article>



	<!--=============================================================================================================== -->
	<!--===========================================  FIN  center  ============================================= -->
	<!-- =============================================================================================================== -->

	<!--=============================================================================================================== -->
	<!--=========================  javascript  : supprimer espace du zone de texte  =================================== -->
	<!-- =============================================================================================================== -->

	<script type="text/javascript">
		$('document').ready(function() {
			$('textarea').each(function() {
				$(this).val($(this).val().trim());
			});
		});
	</script>

	<!--=============================================================================================================== -->
	<!--===========================================  FIN  javascript  ============================================= -->
	<!-- =============================================================================================================== -->

</body>

<!--=============================================================================================================== -->
<!--===========================================   FIN body  ============================================= -->
<!-- =============================================================================================================== -->

</html>
