<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--=============================================================================================================== -->
<!--===========================================   Head  ============================================= -->
<!-- =============================================================================================================== -->
<link rel="stylesheet" type="text/css" th:href="@{/css/Style_Chat.css}" />

<div th:include="Medecin/Include::head"></div>

<!--=============================================================================================================== -->
<!--===========================================  FIN head  ============================================= -->
<!-- =============================================================================================================== -->

<!--=============================================================================================================== -->
<!--===========================================   Body  ============================================= -->
<!-- =============================================================================================================== -->

<body>


	<!--=============================================================================================================== -->
	<!--===========================================   Menu Header ============================================= -->
	<!-- =============================================================================================================== -->

	<div th:include="Medecin/Include::header"></div>

	<!--=============================================================================================================== -->
	<!--===========================================  FIN Menu Header ============================================= -->
	<!-- =============================================================================================================== -->


	<!--=============================================================================================================== -->
	<!--=========================================== Center  ============================================= -->
	<!-- =============================================================================================================== -->
	<h2>
		<center>Forum</center>
	</h2>

	<div class="container">

		<!--===================================================================== -->
		<!--==================== Formulaire recherche ============= -->
		<!-- ==================================================================== -->

		<form action="/Medecin/ForumByMotCle" method="post" name="f">

			<div class="input-group">

				<input type="text" class="form-control" style="width: 350px"
					placeholder="Search" name="MotCle" th:value="${MotCle}"
					onkeyup=" if (event.keyCode == 13) f.submit();"
					autofocus="autofocus" onfocus="var val=this.value; this.value=''; this.value= val;"  />

				<button class="btn btn-default" type="submit">
					<i class="glyphicon glyphicon-search"></i>
				</button>

				<!--===================================================================== -->
				<!--====================  Button ajouter Publication ============= -->
				<!-- ==================================================================== -->

				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#myModal" style="margin-left: 20px;">
					<span class="glyphicon glyphicon-plus"> </span> Ajouter
				</button>

			</div>

		</form>


		<br />

		<!--===================================================================== -->
		<!--==================== FIN Formulaire recherche============= -->
		<!-- ==================================================================== -->

		<!--===================================================================== -->
		<!--==================== FIN Button ajouter Publication  ============ -->
		<!-- ==================================================================== -->

		<!--===================================================================== -->
		<!--====================  Liste des publication ============= -->
		<!-- ==================================================================== -->

		<div th:each="forum : ${listeForums}">


			<div class="container darker" style="width: 90%;">

				<!--===================================================================== -->
				<!--==================== Icon supprimer  ============ -->
				<!-- ==================================================================== -->

				<a th:href="@{/Medecin/DeleteForum(idForum=${forum.id})}"
					style="float: right; margin-left: 20px;"
					onclick="return confirm('voulez vous supprimer Cette Pulication  ?');">
					<i class="fa fa-trash" aria-hidden="true" style="font-size:36px"></i>
				</a>

				<!--===================================================================== -->
				<!--==================== Icon afficher publication   ============ -->
				<!-- ==================================================================== -->

				<a th:href="@{/Medecin/ShowDetailForum(idForum=${forum.id})}"
					style="float: right;"> 
					<i class="fa fa-commenting-o" aria-hidden="true" style="font-size:36px" ></i>
				</a>

				<!--===================================================================== -->
				<!--==================== NOM prenom   ============ -->
				<!-- ==================================================================== -->

				<div>
					<b><span th:text="${forum.publisher.nomprenom}"></span></b>
				</div>
				<br/>

				<!--===================================================================== -->
				<!--==================== Image du publisher   ============ -->
				<!-- ==================================================================== -->

				<div style="float: left;">

					<div style="float: left;">
						<img th:src="@{'/img/'+${forum.publisher.image}}" class="left"
							style="width: 100%;" />
					</div>

					<!--===================================================================== -->
					<!--==================== Titre et contenue    ============ -->
					<!-- ==================================================================== -->


					<div style="float: left;">
						<div th:text="${forum.titre}"> </div>
						<div th:text="${forum.contenu}"> </div>
					</div>

					<br /> <br /> <br />
					<!--===================================================================== -->
					<!--==================== date  du publication    ============ -->
					<!-- ==================================================================== -->
					<div style="float: left;">
						<br/>
						<span class="time-right" th:text="${forum.date}"
							style="foat: left;"></span>
					</div>


				</div>

			</div>

		</div>


		<!--===================================================================== -->
		<!--==================== FIN Liste des publication ============= -->
		<!-- ==================================================================== -->

		<!--===================================================================== -->
		<!--==================== Modal Ajouter Publication  ============= -->
		<!-- ==================================================================== -->

		<div class="modal fade" id="myModal" role="dialog">

			<div class="modal-dialog">

				<div class="modal-content">

					<div class="modal-header">

						<!-- header du modal  -->

						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Ajouter Publication</h4>

					</div>

					<!-- Contenu  du modal  -->

					<div class="modal-body">

						<form>
							<div class="form-group">
								<label for="titre" class="form-control-label">Titre :</label> <input
									name="titre" type="text" class="form-control" id="titre" />
							</div>
							<div class="form-group">
								<label for="contenu" class="form-control-label">Contenu
									:</label>
								<textarea name="contenu" class="form-control" id="contenu"></textarea>
							</div>
						</form>

					</div>

					<!-- footer  du modal  -->

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Annuler</button>

						<button type="button" class="btn btn-primary" data-dismiss="modal"
							onclick="Envoyer()">Save</button>


					</div>


				</div>

			</div>

		</div>

		<!--===================================================================== -->
		<!--====================  FIN Modal Ajouter Publication  ============= -->
		<!-- ==================================================================== -->

	</div>

	<!--=============================================================================================================== -->
	<!--===========================================  fonction ajouter publication    ================================= -->
	<!-- =============================================================================================================== -->

	<script type="text/javascript">
		function Envoyer() {

			Contenu = document.getElementById('contenu').value;
			Titre = document.getElementById('titre').value;

			/* apppler fonctiion du controler */

			$.ajax({

				type : "POST",
				url : "/Medecin/SaveForum",
				data : {
					contenu : Contenu,
					titre : Titre
				},
				timeout : 100000,
				success : function() {
					location.reload();

				},
				error : function(e) {
					console.log("ERROR: ", e);
					display(e);
				},
				done : function(e) {
					console.log("DONE");
				}
			});

		}
	</script>

	<!--=============================================================================================================== -->
	<!--===========================================  FIN  fonction envoyer forum ===================================== -->
	<!-- =============================================================================================================== -->

	<!--=============================================================================================================== -->
	<!--===========================================  FIN Center  ============================================= -->
	<!-- =============================================================================================================== -->


</body>

<!--=============================================================================================================== -->
<!--===========================================   FIN  body ============================================= -->
<!-- =============================================================================================================== -->

</html>
