<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!--=============================================================================================================== -->
  <!--===========================================   Head  ============================================= -->
  <!-- =============================================================================================================== -->

  <link rel="stylesheet" type="text/css" th:href="@{/css/Style_Chat.css}" />

  <div th:include="Medecin/Include::head"></div>


  <!--=============================================================================================================== -->
  <!--===========================================  FIN head  ============================================= -->
  <!-- =============================================================================================================== -->

  <!--=============================================================================================================== -->
  <!--===========================================   Body  ============================================= -->
  <!-- =============================================================================================================== -->

<body>


  <!--=============================================================================================================== -->
  <!--===========================================   Menu Header ============================================= -->
  <!-- =============================================================================================================== -->

  <div th:include="Medecin/Include::header">
    
  </div>

  <!--=============================================================================================================== -->
  <!--===========================================  FIN Menu Header ============================================= -->
  <!-- =============================================================================================================== -->


  <!--=============================================================================================================== -->
  <!--=========================================== Center  ============================================= -->
  <!-- =============================================================================================================== -->
  <h2> <center> Forum  </center> </h2>

  <div class="container">
    <br/>
    <br/>

      <div class="container darker"  style="width: 90% ;">
            
                <!--===================================================================== -->
                <!--==================== Icon supprimer  ============ -->
                <!-- ==================================================================== -->

				<a th:href="@{/Medecin/DeleteForum(idForum=${forum.id})}"
					style="float: right; margin-left: 20px;"
					onclick="return confirm('voulez vous supprimer Cette Pulication  ?');">
					<i class="fa fa-trash" aria-hidden="true" style="font-size:36px"></i>
				</a>

				<!--===================================================================== -->
                <!--==================== NOM prenom   ============ -->
                <!-- ==================================================================== -->

                <div>
					<b><span th:text="${forum.publisher.nomprenom}"></span></b>
				</div>
				<br/>

                <!--===================================================================== -->
                <!--==================== Image du publisher   ============ -->
                <!-- ==================================================================== -->
                <div style="float: left;">

					<div style="float: left;">
						<img th:src="@{'/img/'+${forum.publisher.image}}" class="left"
							style="width: 100%;" />
					</div>
					
                    <!--===================================================================== -->
                    <!--==================== Titre et contenue    ============ -->
                    <!-- ==================================================================== -->
      
					<div style="float: left;">
						<div th:text="${forum.titre}"> </div>
						<div th:text="${forum.contenu}"> </div>
					</div>
					<br /> <br /> <br />
					
                    <!--===================================================================== -->
                    <!--==================== date  du publication    ============ -->
                    <!-- ==================================================================== -->
                    
                    <div style="float: left;">
						<br/>
						<span class="time-right" th:text="${forum.date}"
							style="foat: left;"></span>
					</div>

              </div>
                         
        </div>


      <!--===================================================================== -->
      <!--==================== FIN  publication ============= -->
      <!-- ==================================================================== -->

      <!--===================================================================== -->
      <!--====================  Liste des commentaire ============= -->
      <!-- ==================================================================== -->

      <div th:each="comment : ${comments}"> 


            <div class="container darker" style="width: 70% ;margin-left: 20% ">
            
                <!--===================================================================== -->
                <!--==================== Icon supprimer commentaire ============ -->
                <!-- ==================================================================== -->

	              <a th:href="@{/Medecin/DeleteCommenatire(idCommenatire=${comment.id},idForum=${comment.forum.id})}"
	                 style="float:right; margin-left: 20px;" 
	                onclick="return confirm('voulez vous supprimer Cette Commentaire  ?');" >
	                <i class="fa fa-trash" aria-hidden="true" style="font-size:36px"></i>
	              </a>
             

                <!--===================================================================== -->
                <!--==================== NOM prenom   ============ -->
                <!-- ==================================================================== -->

                <div>
					<b><span th:text="${comment.publisher.nomprenom}"></span></b>
				</div>
				<br /> 

                <!--===================================================================== -->
                <!--==================== Image du publisher   ============ -->
                <!-- ==================================================================== -->
               
                <div style="float: left;">

					<div style="float: left;">
						<img th:src="@{'/img/'+${comment.publisher.image}}" class="left"
							style="width: 100%;" />
					</div>

                      <!--===================================================================== -->
                      <!--====================  contenue    ============ -->
                      <!-- ==================================================================== -->
                           
                        <div style="float: left;">
							<div th:text="${comment.contenu}"></div>
							<br/>
						</div>
						<br /> <br />

                      <!--===================================================================== -->
                      <!--==================== date  du publication    ============ -->
                      <!-- ==================================================================== -->
                      <div style="float: left;">
						<br/>
						
						<span class="time-left" th:text="${comment.date}"
							style="foat: left;"></span>
					  </div>


                </div>
                         
        </div>

    </div>     

      <!--===================================================================== -->
      <!--====================  FIN  Liste des commentaire ============= -->
      <!-- ==================================================================== --> 
      
      <!--===================================================================== -->
      <!--====================  Zone pour ecrire un commentaire ============= -->
      <!-- ==================================================================== --> 

        <div class="container" style="width: 70% ;margin-left: 20% ">
        
            <form action="/Medecin/SaveCommentaire" method="post">
            
                <div class="form-group">
              
                    <label for="commentaire">Commentaire :</label>
                    <textarea class="form-control" rows="5" id="commentaire" name="commentaire">
                    </textarea>
                    
                  </div>
                  <input type="hidden" name="idForum" th:value="${forum.id}" />
                  
                  <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-send"></span> Commenter 
                  </button>
                
            </form>
            
        </div>
      <!--===================================================================== -->
      <!--==================== FIN  Zone pour ecrire un commentaire =========== -->
      <!-- ==================================================================== --> 
      
  </div>


  <!--=============================================================================================================== -->
  <!--===========================================  FIN Center  ============================================= -->
  <!-- =============================================================================================================== -->
	
	<!--=============================================================================================================== -->
	<!--=========================  javascript  : supprimer espace du zone de texte  =================================== -->
	<!-- =============================================================================================================== -->
	
	<script type="text/javascript">
		$('document').ready(function() {
			$('textarea').each(function() {
				$(this).val($(this).val().trim());
			});
		});
	</script>
	
	<!--=============================================================================================================== -->
	<!--===========================================  FIN  javascript  ============================================= -->
	<!-- =============================================================================================================== -->


</body>

  <!--=============================================================================================================== -->
  <!--===========================================   FIN  body ============================================= -->
  <!-- =============================================================================================================== -->

</html>
