<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!--=============================================================================================================== -->
    <!--===========================================   Head  ============================================= -->
  <!-- =============================================================================================================== -->


  <div th:include="Medecin/Include::head"></div>

  <!--=============================================================================================================== -->
    <!--===========================================  FIN head  ============================================= -->
  <!-- =============================================================================================================== -->

  <!--=============================================================================================================== -->
    <!--===========================================   Body  ============================================= -->
  <!-- =============================================================================================================== -->

<body>


  <!--=============================================================================================================== -->
    <!--===========================================   Menu Header ============================================= -->
  <!-- =============================================================================================================== -->

  <div th:include="Medecin/Include::header">
    
  </div>

  <!--=============================================================================================================== -->
    <!--===========================================  FIN Menu Header ============================================= -->
  <!-- =============================================================================================================== -->


  <!--=============================================================================================================== -->
    <!--=========================================== Center  ============================================= -->
  <!-- =============================================================================================================== -->

  <article>

    <div class="container">


         
        <!--===================================================================== -->
          <!--==================== Formulaire Profie  ============= -->
        <!-- ==================================================================== -->

        <form >

          <!--===================================================================== -->
          <!--==================== Image ============= -->
          <!-- ==================================================================== -->
          <div class="form-group">

           <center>
             <img th:src="@{'/img/'+${patient.image}}"  class="rounded float-left" 
               id="label" name="label" style="width: 200px;height: 200px;" /> 
          </center>
          </div>
          <!--===================================================================== -->
          <!--==================== Contacter  ============= -->
          <!-- ==================================================================== -->

          <div class="form-row col-md-12">
            <div class="form-group">
              <center>
                 <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                  data-target="#myModal">
                  <span class="glyphicon glyphicon-send"></span> Contacter
                </button>
              </center>
            </div>
          </div>
          <br/>
          <br/>
          

          <!--===================================================================== -->
          <!--==================== nomPrenom Telephone date naissance  ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">
            <br/>

            <div class="form-group col-md-4">
              <label for="login">Nom Prenom :</label> 
              <span th:text="${patient.nomprenom}"></span> 
              
            </div>

            <div class="form-group col-md-4">
              <label for="password">Telephone :</label>
              <span th:text="${patient.telephone}"></span> 
              
            </div>

            <div class="form-group col-md-4">
              <label for="date">Date Naisssance :</label>
              <span th:text="${patient.date}"></span> 
              
            </div>

          </div>
          

        </form>

      <!--===================================================================== -->
      <!--==================== Fin Formulaire   ============= -->
      <!-- ==================================================================== -->
      
    </div>

  </article>

  <!--=============================================================================================================== -->
  <!--===========================================   Données physiologiques   ============================================= -->
  <!-- =============================================================================================================== -->

  <article>

    <div class="container">
      <br/>
      <hr/>
       <h3> <center>  Données Physiologiques </center> </h3>

      
      <br/>

      <!-- ==================================================================== -->
      <!--==================== Tableau Liste Données physiologiques  ============= -->
        <!-- ==================================================================== -->

      <table class="table table-hover">

          <!-- ==================================================================== -->
          <!--==================== tete du table Liste Données physiologiques  ============= -->
            <!-- ==================================================================== -->

          <thead class="thead-dark">
            <tr>
              <th scope="col">Device</th>
              <th scope="col">Rythmes Cardiaques</th>
              <th scope="col">Natremie</th>
              <th scope="col">Temperature Corporelle</th>
              <th scope="col">Taux Prolactine</th>
              <th scope="col">Tension Arterielle</th>
              <th scope="col">Glycemies</th>
              <th scope="col">Date</th>
            </tr>
          </thead>

          <!-- ==================================================================== -->
          <!--==================== contenu du tableau liste Données physiologiques  ============= -->
            <!-- ==================================================================== -->

          <tbody th:each="donne : ${ListeStatisque}">
            <tr>
              <td scope="row" th:text="${donne.iddevice}">...</td>
              <td th:text="${donne.rythmesCardiaques}">...</td>
              <td th:text="${donne.natremie}">...</td>
              <td th:text="${donne.tauxProlactine}">...</td>
              <td th:text="${donne.tensionArterielle}">...</td>
              <td th:text="${donne.temperatureCorporelle}">...</td>
              <td th:text="${donne.glycemies}">...</td>
              <td th:text="${donne.date}">...</td>

            </tr>
          </tbody>


      </table>
      <br/>
      <br/>

      <!-- ==================================================================== -->
      <!--==================== FIN Tableau Liste Données physiologiques  ============= -->
        <!-- ==================================================================== -->

    </div>

  </article>

  <!--=============================================================================================================== -->
    <!--===========================================  FIN Données physiologiques ============================= -->
  <!-- =============================================================================================================== -->

  <!--=============================================================================================================== -->
  <!--===========================================  FIN Center  ============================================= -->
  <!-- =============================================================================================================== -->

   <!--===================================================================== -->
    <!--==================== Modal Envoyer   message  ============= -->
    <!-- ==================================================================== -->

    <div class="modal fade" id="myModal" role="dialog">

      <div class="modal-dialog">

        <div class="modal-content">

          <div class="modal-header">

            <!-- header du modal  -->

            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Envoyer Message </h4>

          </div>

          <!-- Contenu  du modal  -->

          <div class="modal-body">

            <form>
              <div class="form-group">
                <label for="message" class="form-control-label">Message :</label>
                <textarea name="message" class="form-control" id="message"></textarea>

                <input type="hidden" name="cinPatient" id="cinPatient" th:value="${patient.cin}" />
              </div>
            </form>

          </div>

          <!-- footer  du modal  -->

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              data-dismiss="modal">Annuler</button>

            <button type="button" class="btn btn-primary" data-dismiss="modal"
              onclick="Envoyer()">Send</button>
          </div>

        </div>

      </div>

    </div>

    <!--===================================================================== -->
    <!--====================  FIN Modal Ajouter Publication  ============= -->
    <!-- ==================================================================== -->

  <!--=============================================================================================================== -->
  <!--=========================================== Envoyer message  ============================================= -->
  <!-- =============================================================================================================== -->

  <script type="text/javascript">
    
  function Envoyer() {

      Message = document.getElementById('message').value;
	  cinpatient = document.getElementById('cinPatient').value;

      /* apppler fonctiion du controler */

      $.ajax({

        type : "POST",
        url : "/Medecin/SendMessageToPatient",
        data : {
          message : Message,
          cinPatient:cinpatient
        },
        timeout : 100000,
        success : function() {

        },
        error : function(e) {
          console.log("ERROR: ", e);
          display(e);
        },
        done : function(e) {
          console.log("DONE");
        }
      });

    }

  </script>

  <!--=============================================================================================================== -->
  <!--===========================================  FIN Changer Image   ============================================= -->
  <!-- =============================================================================================================== -->
</body>

  <!--=============================================================================================================== -->
    <!--===========================================   FIN  body ============================================= -->
  <!-- =============================================================================================================== -->

</html>
