<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!--=============================================================================================================== -->
    <!--===========================================   Head  ============================================= -->
  <!-- =============================================================================================================== -->


  <div th:include="Medecin/Include::head"></div>

  <!--=============================================================================================================== -->
    <!--===========================================  FIN head  ============================================= -->
  <!-- =============================================================================================================== -->

  <!--=============================================================================================================== -->
    <!--===========================================   Body  ============================================= -->
  <!-- =============================================================================================================== -->

<body>


  <!--=============================================================================================================== -->
    <!--===========================================   Menu Header ============================================= -->
  <!-- =============================================================================================================== -->

  <div th:include="Medecin/Include::header">
    
  </div>

  <!--=============================================================================================================== -->
  <!--===========================================  FIN Menu Header ============================================= -->
  <!-- =============================================================================================================== -->


  <!--=============================================================================================================== -->
  <!--=========================================== Center  ============================================= -->
  <!-- =============================================================================================================== -->

  <article>

    <div class="container">


         
        <!--===================================================================== -->
          <!--==================== Formulaire Profie  ============= -->
        <!-- ==================================================================== -->

        <form action="/Medecin/EnregistrerProfile" method="post" enctype="multipart/form-data">

          <!--===================================================================== -->
          <!--==================== Image ============= -->
          <!-- ==================================================================== -->
          <div class="form-group">

            <center>
              <img th:src="@{'/img/'+${medecin.image}}"  class="rounded float-left" 
                   id="label" name="label" style="width: 200px;height: 200px;" /> 
            </center>

          </div>

          <!--===================================================================== -->
          <!--==================== input file   ============= -->
          <!-- ==================================================================== -->

          <div class="form-row col-md-12">

            <div class="form-group">
              <center>
                <input type="file" class="form-control-file" id="image" name="image" 
                onchange="changerImage(this);"  />
              </center>
            </div>

          </div>

          <br/>
          <br/>

          <!--===================================================================== -->
            <!--==================== Cin Nom et prenom  ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="Prenom">CIN</label>
              <input type="text"   name="cin" pattern="[0-9]*" minlength="8" maxlength="8"
                oninvalid="setCustomValidity('CIN obligatoire : 8 chiffres ')"
                oninput="setCustomValidity('')" 
                class="form-control"  placeholder="8 chiffre"  readonly="readonly" 
                th:value="${medecin.cin}"/>

            </div>
            
            <div class="form-group col-md-6">
              <label for="nomprenom">Nom Prenom</label> 
              <input type="text" class="form-control" name="nomprenom" placeholder="Nom Prenom"
               th:value="${medecin.nomprenom}"
               oninvalid="setCustomValidity('Nom et Prenom sont obligatoire')"
               oninput="setCustomValidity('')" />
            </div>

          </div>
         

          <!--===================================================================== -->
            <!--==================== username et password   ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="login">Username</label> 
              <input type="text" class="form-control" name="login" placeholder="Username"
              th:value="${medecin.login}" />
            </div>

            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input type="password"   class="form-control" name="password" placeholder="Password"
              th:value="${medecin.password}" />
            </div>
          </div>

          <!--===================================================================== -->
            <!--==================== telephone et domicile   ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="login">Telephone</label> 
              <input type="text" class="form-control" name="telephone" placeholder="Telephone"
                pattern="[0-9]*" minlength="8" maxlength="8"
                oninvalid="setCustomValidity('veuillez saisi telephone valide: 8 chiffre ')"
                oninput="setCustomValidity('')"

                th:value="${medecin.telephone}" />
            </div>

            <div class="form-group col-md-6">
              <label for="password">Domicile</label>
              <input type="text"   class="form-control" name="domicile" placeholder="Domicile"
                pattern="[0-9]*" minlength="8" maxlength="8"
                oninvalid="setCustomValidity('veuillez saisi domicile valide: 8 chiffre ')"
                oninput="setCustomValidity('')"
                th:value="${medecin.domicile}" />
            </div>
          </div>
          <!--===================================================================== -->
            <!--==================== Email  et Adresse et Specilaite    ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="login">Email</label> 
              <input type="text" class="form-control" name="email" placeholder="Email"
              th:value="${medecin.email}" />
            </div>

            <div class="form-group col-md-3">
              <label for="password">Adresse</label>
              <input type="text"   class="form-control" name="adresse" placeholder="Adresse"
              th:value="${medecin.adresse}" />
            </div>

            <div class="form-group col-md-3">
              <label for="password">Specialite</label>
              <input type="text"   class="form-control" name="specialite" placeholder="Specialite"
              th:value="${medecin.specialite}" />
            </div>

          </div>
          <!--===================================================================== -->
            <!--==================== Button enregistrer  ============= -->
          <!-- ==================================================================== -->

          <div class="form-group col-md-12">

            <button type="submit" class="btn btn-primary mb-2"> 
              <span class="glyphicon glyphicon-ok"></span> 
               Enregistrer 
            </button>

          </div>

        </form>

      <!--===================================================================== -->
      <!--==================== Fin Formulaire   ============= -->
        <!-- ==================================================================== -->
    </div>

  </article>



  <!--=============================================================================================================== -->
  <!--===========================================  FIN Center  ============================================= -->
  <!-- =============================================================================================================== -->

  <!--=============================================================================================================== -->
  <!--=========================================== Changer Image   ============================================= -->
  <!-- =============================================================================================================== -->

  <script type="text/javascript">
    
    function changerImage(input)
    {

      $('#label')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);

    }

  </script>

  <!--=============================================================================================================== -->
  <!--===========================================  FIN Changer Image   ============================================= -->
  <!-- =============================================================================================================== -->
  
</body>

  <!--=============================================================================================================== -->
  <!--===========================================   FIN  body ============================================= -->
  <!-- =============================================================================================================== -->

</html>
