<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!--=============================================================================================================== -->
    <!--===========================================   Head  ============================================= -->
  <!-- =============================================================================================================== -->


  <div th:include="Admin/Include::head"></div>

  <!--=============================================================================================================== -->
    <!--===========================================  FIN head  ============================================= -->
  <!-- =============================================================================================================== -->

  <!--=============================================================================================================== -->
    <!--===========================================   Body  ============================================= -->
  <!-- =============================================================================================================== -->

<body>


  <!--=============================================================================================================== -->
    <!--===========================================   Menu Header ============================================= -->
  <!-- =============================================================================================================== -->

  <div th:include="Admin/Include::header">
    
  </div>

  <!--=============================================================================================================== -->
    <!--===========================================  FIN Menu Header ============================================= -->
  <!-- =============================================================================================================== -->


  <!--=============================================================================================================== -->
    <!--=========================================== Center  ============================================= -->
  <!-- =============================================================================================================== -->

  <article>

    <div class="container">


         
        <!--===================================================================== -->
          <!--==================== Formulaire Profie  ============= -->
        <!-- ==================================================================== -->

        <form action="/Admin/EnregistrerProfile" method="post" enctype="multipart/form-data">

          <!--===================================================================== -->
          <!--==================== Image ============= -->
          <!-- ==================================================================== -->
          <div class="form-group">

           <center>
           
             <img th:src="@{'/img/'+${admin.image}}"  class="rounded float-left" 
               id="label" name="label" style="width: 200px;height: 200px;" /> 
          </center>
          </div>
          <!--===================================================================== -->
          <!--==================== input file   ============= -->
          <!-- ==================================================================== -->

          <div class="form-row col-md-12">
            <div class="form-group">
              <center>
                <input type="file" class="form-control-file" id="image" name="image" 
                onchange="changerImage(this);"  />
              </center>
            </div>
          </div>
          
          <br/>
          <br/>
          <!--===================================================================== -->
            <!--==================== Cin Nom et prenom  ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="Prenom">CIN</label>
              <input type="text"   name="cin" pattern="[0-9]*" minlength="8" maxlength="8"
                oninvalid="setCustomValidity('veuillez saisi Cin valide: 8 chiffre ')"
                oninput="setCustomValidity('')" 
                class="form-control"  placeholder="8 chiffre"  readonly="readonly" 
                th:value="${admin.cin}"/>

            </div>
            <div class="form-group col-md-6">
              <label for="nomprenom">Nom Prenom</label> 
              <input type="text"    class="form-control" name="nomprenom" placeholder="Nom Prenom"
               th:value="${admin.nomprenom}"/>
            </div>

          </div>
         

          <!--===================================================================== -->
            <!--==================== username et password   ============= -->
          <!-- ==================================================================== -->

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="login">Username</label> 
              <input type="text" class="form-control" name="login" placeholder="Username"
              th:value="${admin.login}" />
            </div>

            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input type="password"   class="form-control" name="password" placeholder="Password"
              th:value="${admin.password}" />
            </div>
          </div>

          <!--===================================================================== -->
            <!--==================== Button enregistrer  ============= -->
          <!-- ==================================================================== -->

          <div class="form-group col-md-12">

            <button type="submit" class="btn btn-primary mb-2"> 
              <span class="glyphicon glyphicon-saved"></span>
               Enregistrer 
            </button>

          </div>

        </form>

      <!--===================================================================== -->
      <!--==================== Fin Formulaire   ============= -->
        <!-- ==================================================================== -->
    </div>

  </article>

  <!--===================================================================== -->
      <!--==================== Fonction changer image   ============= -->
        <!-- ==================================================================== -->

  <script type="text/javascript">
    
    function changerImage(input)
    {

   $('#label')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);

    }

  </script>

  <!--=============================================================================================================== -->
    <!--===========================================  FIN Center  ============================================= -->
  <!-- =============================================================================================================== -->

</body>

  <!--=============================================================================================================== -->
    <!--===========================================   FIN  body ============================================= -->
  <!-- =============================================================================================================== -->

</html>
